@font-face {
    font-family: 'gveret_levin_alefalefalefRg';
    src: url('gveretlevinalefalefalef-regular-webfont.woff2') format('woff2'),
         url('gveretlevinalefalefalef-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*òéöåá ëììé ìàúø*/
body {
    direction: rtl;
    background-image: url('../images/background.jpg');
}

#container {
    width: 960px;
    margin: 0 auto;
}

/*äâãøåú òéöåá ìúôøéè ðéååè*/
nav ul {
    list-style: none;
    padding-bottom: 45px;
}

    nav ul li {
        display: inline-block;
        float: right;
    }

        nav ul li a {
            display: block;
            font-family: 'Rubik', sans-serif;
            color: #61D0BB;
            text-decoration: none;
            text-align: center;
            width: 95px;
            height: 20px;
            margin-top: 10px;
            margin-bottom: 25px;
            font-size: 20px;
        }

            nav ul li a:hover {
                color: #EAC1EA;
            }

            nav ul li a:active {
                color: #EAC1EA;
            }

            nav ul li a.selected {
                color: #30343A;
            }

#contact {
    text-align: left;
    margin-right: 411px;
}

.nav_border {
    border-bottom: 3px dashed #61D0BB;
}

/*òéöåá ìòîåã äáéú*/
#home {
    height: 548px;
    width: 959px;
    background-image: url('../images/main-img.png');
    background-repeat: no-repeat;
}

audio {
    width: 274px;
}

/*äâãøåú òéöåá ìòîåã äãéå÷ï äàéùé*/
#portrait {
    background-image: url('../images/Portrait.jpg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 530px;
}

    #portrait h1 {
        width: 118.5px;
        height: 118.5px;
        font-size: 20px;
        color: #30343A;
        margin-top: 10px;
        margin-right: 10px;
        padding-top: 18.5px;
        padding-right: 18.5px;
        background-color: #F4E3F4;
        font-family: 'Gveret Levin AlefAlefAlef';
    }

    #portrait p {
        width: 132px;
        height: 118.5px;
        font-size: 16px;
        color: #30343A;
        line-height: 20px;
        padding-top: 18.5px;
        margin-right: 147px;
        background-color: #F4E3F4;
        padding-right: 5px;
    }

/*äâãøåú òéöåá ìòîåã äöò÷ä*/
#scream h1 {
    display: inline-block;
    width: 118.5px;
    height: 118.5px;
    font-size: 20px;
    color: #30343A;
    margin-top: 10px;
    padding-top: 18.5px;
    padding-right: 18.5px;
    background-color: #F4E3F4;
    font-family: 'Gveret Levin AlefAlefAlef';
}

#scream p {
    width: 269px;
    height: 130px;
    font-size: 16px;
    color: #30343A;
    line-height: 20px;
    margin-right: 137px;
    background-color: #F4E3F4;
    padding-right: 5px;
    padding-top: 7px;
}

#box2 p {
    width: 132px;
    height: 118.5px;
    font-size: 16px;
    color: #30343A;
    padding-top: 18.5px;
    padding-right: 5px;
    background-color: #B7E8DE;
}

#scream {
    background-image: url('../images/TheScream.jpg');
    background-size: 411px 274px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#youtube {
    margin-right: 137px;
}


/*äâãøåú òéöåá ìòîåã äôåñèø*/
#poster {
    background-image: url('../images/Poster.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 530px;
}

    #poster h1 {
        width: 118.5px;
        height: 118.5px;
        font-size: 20px;
        color: #30343A;
        margin-top: 10px;
        margin-right: 10px;
        padding-top: 18.5px;
        padding-right: 18.5px;
        background-color: #B7E8DE;
        font-family: 'Gveret Levin AlefAlefAlef';
    }

    #poster p {
        width: 137px;
        height: 130px;
        font-size: 16px;
        color: #30343A;
        line-height: 20px;
        margin-right: 147px;
        background-color: #B7E8DE;
        padding-right: 5px;
        padding-top: 7px;
    }

/*äâãøåú òéöåá ìòîåã öåø ÷ùø*/
#test form {
    width: 274px;
    height: 274px;
    background-color: #F4E3F4;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 5px grey;
    margin-right:10px;
}

label {
    display: block;
}

input[type ='text'], input[type ='number'], input[type ='email'] {
    display: block;
    margin-bottom: 15px;
}
